@using Microsoft.AspNet.Identity
@using CCP.Web.CFMS.Web.Libraries.Core

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chapel Fund Monitoring System</title>
    <!-- semanticui styles -->
    <link rel="stylesheet" href="/js/semantic-ui/semantic.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/button.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/checkbox.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/container.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/dimmer.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/divider.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/dropdown.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/flag.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/form.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/grid.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/icon.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/image.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/input.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/item.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/label.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/list.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/loader.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/menu.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/message.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/modal.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/popup.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/reset.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/sidebar.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/tab.min.css" />
    <link rel="stylesheet" href="/js/semantic-ui/components/table.css" />
    <style>
        .white-space-no-wrap {
            white-space: nowrap;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body>

    <!-- menus -->
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item" style="color: #0080ff">
                Chapel Fund Monitoring System
            </a>
            <a href="/" class="item">Home</a>
            <div class="ui simple dropdown item">
                Transactions <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/Transactions/Cash-In-Flows">Cash Inflows</a>
                    <a class="item" href="/Transactions/Cash-Out-Flows">Cash Outflows</a>
                    <a class="item" href="/Transactions/Forwardings">Forwardings</a>
                </div>
            </div>
            <div class="ui simple dropdown item">
                Reports <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/Reports/Income-Statements">Income Statements</a>
                    <a class="item" href="/Reports/Fund-Balances">Fund Balances</a>
                    <a class="item" href="/Reports/Custom-Reports">Custom Reports</a>
                </div>
            </div>
            <div class="ui simple dropdown item">
                Maintenance <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/Maintenance/Chapels">Chapels</a>
                    <a class="item" href="/Maintenance/Utilities">Utilities</a>
                    <a class="item" href="/Maintenance/Utility-Type">Utility Type</a>
                    <div class="divider"></div>
                    <a class="item" href="/Maintenance/Configuration">Configuration</a>
                </div>
            </div>
            <div class="ui simple dropdown item">
                Security <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/Security/Users">Users</a>
                    <a class="item" href="/Security/Roles">Roles</a>
                </div>
            </div>
            <div class="ui simple dropdown item" style="background-color: #0078b3;">
                @User.Identity.GetUserName() <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/Account/ChangePassword">Change Password</a>
                    <div class="divider"></div>
                    <a class="item" href="/Account/LogOff">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- body content -->
    <div style="padding: 60px 50px 30px 50px;">
        @RenderBody()
    </div>

    <!-- footer -->
    <div style="padding: 50px 50px 20px 50px;">
        <hr />
        <p>
            <span class="white-space-no-wrap"><i class="rss icon"></i>@Config.SelectedChapelName() | </span>
            <span class="white-space-no-wrap">&copy; @DateTime.Now.Year Students of Central Colleges of the Philippines | </span>
            <span class="white-space-no-wrap">All Rights Reserved | </span>
            <span class="white-space-no-wrap">@Env.EnvironmentServerVersion()</span>
        </p>
    </div>

    <!-- modal -->
    @Html.Partial("_ModalPartial")
    <!-- scripts -->
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <!-- semanticui scripts -->
    <script type="text/javascript" src="/js/semantic-ui/semantic.min.js"></script>
    <script type="text/javascript" src="/js/semantic-ui/semantic.min.js"></script>
    <script type="text/javascript" src="/js/semantic-ui/components/checkbox.min.js"></script>
    <script type="text/javascript" src="/js/semantic-ui/components/dimmer.min.js"></script>
    <script type="text/javascript" src="/js/semantic-ui/components/dropdown.min.js"></script>
    <script type="text/javascript" src="/js/semantic-ui/components/embed.min.js"></script>
    <script type="text/javascript" src="/js/semantic-ui/components/form.min.js"></script>
    <script type="text/javascript" src="/js/semantic-ui/components/modal.min.js"></script>
    <script type="text/javascript" src="/js/semantic-ui/components/popup.min.js"></script>
    <script type="text/javascript" src="/js/semantic-ui/components/sidebar.min.js"></script>
    <script type="text/javascript" src="/js/semantic-ui/components/tab.min.js"></script>
    <script type="text/javascript" src="~/js/app/common/helpers.js?v=@Env.Versioning()"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
